<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    maintest
    <form>
        <select id="searchval">
            <option value="mobile" selected>mobile</option>
            <option value="regno">regno</option>
            <option value="id">id</option>
          </select>
        <input type="text" id="bb" value="" placeholder="utas" onchange="findcon()" />
        <input type="button" value="send" onclick="findcon()"/>
        <div id="aa1"></div>
    </form>
    
    
  
    


    <script>

        function findcon(){
            let searchval = document.getElementById("searchval"); console.log('searchval',searchval.value)
            let bb = document.getElementById("bb")
            console.log(bb.value)
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/cons?'+ searchval.value +"="+bb.value, true);
            xhr.responseType= "json"
            xhr.onload = function () {
                let res = xhr.response; console.log('res', res); 
                d = res.data;
                let aa1 = document.getElementById("aa1")
                aa1.innerHTML = `msg:${res.msg} _id:${d._id}  mob: ${d.mobile} cardslen: ${d.cards.length} token: ${d.token}  bal: ${d.balance}  bs: ${d.balance_status}  isfam: ${d.is_family}<br>`
                c = res.concards;
                for (let i=0; i<c.length; i++){
                    console.log('i=', i)
                    cardid=d.cards[i]['$oid'];
                    aa1.innerHTML += `
                        <div>_id:${cardid} num:${c[i].number} ct:${c[i].card_type} bal:${c[i].balance} st:${c[i].status} mobile:${c[i].mobile}
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#${cardid}">receipt(${c[i].receipts.length})</button>
                        </div>                         
                        <div id="${cardid}" class="collapse"></div>
                    `
                    let collap = document.getElementById(cardid); console.log('collap', collap)
                    let receipts = c[i].receipts; console.log('receipts=', receipts, receipts.length)
                    for(let j=0; j<receipts.length; j++){
                        console.log('j=', j)
                        collap.innerHTML += `<div>billno:${receipts[j].bill_number} cDate:${receipts[j].created_at} card_no:${receipts[j].card_number} samo:${receipts[j].spend_amount} bamo:${receipts[j].bonus_amount} tamo:${receipts[j].total_amount} camo:${receipts[j].cash_amount} bonamo:${receipts[j].bonus_amount} tertoken:${receipts[j].terminal_token} custoken:${receipts[j].customer_token} totpoint:${receipts[j].total_point} befbal:${receipts[j].before_balance} poibal:${receipts[j].point_balance} cusmob:${receipts[j].customer_mobile} </div>`;
                    }
                    
                }
                
            };
            xhr.send(null);
            // 
        }
    </script>
</body>
</html>