<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
</head>
<body onload="load()">
    maintest
    

    <form>
        <select id="searchval">
            <option value="mobile" selected>mobile</option>
            <option value="regno">regno</option>
            <option value="id">id</option>
          </select>
        <input type="text" id="bb" value="" placeholder="utas" onchange="findcon()" />
        <input type="button" value="send" onclick="findcon()"/>        
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#uaconsumer">uaconsumer</button>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#createpc">createpc</button>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#updagepc">updagepc</button>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#changepc">changepc</button>
        <div id="changepc" class="collapse">
            <div><input type="text" name="changepc_token" id="changepc_token" placeholder="token"/>
                <select id="changepc_token_sel" onchange="token_select('changepc_token_sel','changepc_token')">
                    <option value="" selected>tokens</option>
                    <option value="7900b7fe2e28fa86cda82cd11b204e13ae9097e2">nomin</option>
                    <option value="83027b6ff8ba971fd07d48a3d67a544a6ee28104">DDISHTV</option>
                    <option value="74b799b979e77e54fbdd6bc3c2b4761e1a487be2">Monos UB</option>
                    <option value="747a67c09f665701e723e1652253394c2f32a11e">Unitel</option>
                    <option value="024164dc1a027029d3d59cfc988ef6f15231d94c">MetroExpress</option>
                    <option value="8b8a09a36f9e3e80ffadd81f8daed268800a470d">Univision</option>
                    <option value="06be024370fca7aaf0a4c2aa9caa91f47da02e5c">ua</option>
                </select>
                <input type="button" value="[]" onclick="check_token()"/><span id="changepc_token_msg"></span></div>            
            <div><input type="text" name="changepc_regno" id="changepc_regno" placeholder="regno" onchange="check_regno('changepc_regno','changepc_regno_msg')"/><input type="button" value="[]" onclick="check_regno('changepc_regno','changepc_regno_msg')"/><span id="changepc_regno_msg"></span></div>
            <div><input type="text" name="changepc_num1" id="changepc_num1" placeholder="num1" onchange="check_num('changepc_num1', 'changepc_num1_msg')"/><input type="button" value="[]" onclick="check_num('changepc_num1', 'changepc_num1_msg')"/><span id="changepc_num1_msg"></span></div>            
            <div><input type="text" name="changepc_num2" id="changepc_num2" placeholder="num2" onchange="check_num('changepc_num2', 'changepc_num2_msg')"/><input type="button" value="[]" onclick="check_num('changepc_num2', 'changepc_num2_msg')"/><span id="changepc_num2_msg"></span></div>            
            <div><input type="button" value="send" onclick="send_url('changepc', 'changepc_msg')"/><span id="changepc_msg"></span></div>

        </div>
        <div id="updagepc" class="collapse">
            <div><input type="text" name="updagepc_token" id="updagepc_token" placeholder="token"/>
                <select id="updagepc_token_sel" onchange="token_select('updagepc_token_sel','updagepc_token')">
                    <option value="" selected>tokens</option>
                    <option value="7900b7fe2e28fa86cda82cd11b204e13ae9097e2">nomin</option>
                    <option value="83027b6ff8ba971fd07d48a3d67a544a6ee28104">DDISHTV</option>
                    <option value="74b799b979e77e54fbdd6bc3c2b4761e1a487be2">Monos UB</option>
                    <option value="747a67c09f665701e723e1652253394c2f32a11e">Unitel</option>
                    <option value="024164dc1a027029d3d59cfc988ef6f15231d94c">MetroExpress</option>
                    <option value="8b8a09a36f9e3e80ffadd81f8daed268800a470d">Univision</option>
                    <option value="06be024370fca7aaf0a4c2aa9caa91f47da02e5c">ua</option>
                </select>
                <input type="button" value="[]" onclick="check_token()"/><span id="updagepc_token_msg"></span></div>            
            <div><input type="text" name="updagepc_regno" id="updagepc_regno" placeholder="regno" onchange="check_regno('updagepc_regno','updagepc_regno_msg')"/><input type="button" value="[]" onclick="check_regno('updagepc_regno','updagepc_regno_msg')"/><span id="updagepc_regno_msg"></span></div>
            <div><input type="text" name="updagepc_num" id="updagepc_num" placeholder="num" onchange="check_num('updagepc_num','updagepc_num_msg')"/><input type="button" value="[]" onclick="check_num('updagepc_num', 'updagepc_num_msg')"/><span id="updagepc_num_msg"></span></div>            
            <div><input type="button" value="send" onclick="send_url('updatepc', 'updatepc_msg')"/><span id="updagepc_msg"></span></div>

        </div>
        <div id="createpc" class="collapse">
            <div><input type="text" name="createpc_token" id="createpc_token" placeholder="token"/>
                <select id="createpc_token_sel" onchange="token_select('createpc_token_sel','createpc_token')">
                    <option value="" selected>tokens</option>
                    <option value="7900b7fe2e28fa86cda82cd11b204e13ae9097e2">nomin</option>
                    <option value="83027b6ff8ba971fd07d48a3d67a544a6ee28104">DDISHTV</option>
                    <option value="74b799b979e77e54fbdd6bc3c2b4761e1a487be2">Monos UB</option>
                    <option value="747a67c09f665701e723e1652253394c2f32a11e">Unitel</option>
                    <option value="024164dc1a027029d3d59cfc988ef6f15231d94c">MetroExpress</option>
                    <option value="8b8a09a36f9e3e80ffadd81f8daed268800a470d">Univision</option>
                    <option value="06be024370fca7aaf0a4c2aa9caa91f47da02e5c">ua</option>
                </select>
                <input type="button" value="[]" onclick="check_token()"/><span id="createpc_token_msg"></span></div>            
            <div><input type="text" name="createpc_regno" id="createpc_regno" placeholder="regno" onchange="check_regno('createpc_regno','createpc_regno_msg')"/><input type="button" value="[]" onclick="check_regno('createpc_regno','createpc_regno_msg')"/><span id="createpc_regno_msg"></span></div>
            <div><input type="text" name="createpc_num" id="createpc_num" placeholder="num" onchange="check_num('createpc_num', 'createpc_num_msg')"/><input type="button" value="[]" onclick="check_num('createpc_num', 'createpc_num_msg')"/><span id="createpc_num_msg"></span></div>            
            <div><input type="button" value="send" onclick="send_url('createpc', 'createpc_msg')"/><span id="createpc_msg"></span></div>

        </div>
        
        <div id="uaconsumer" class="collapse">uaconsumer
            <div><input type="text" name="uaconsumer_token" id="uaconsumer_token" placeholder="token"/>
                <select id="token_sel" onchange="token_select('token_sel','uaconsumer_token')">
                    <option value="" selected>tokens</option>
                    <option value="7900b7fe2e28fa86cda82cd11b204e13ae9097e2">nomin</option>
                    <option value="83027b6ff8ba971fd07d48a3d67a544a6ee28104">DDISHTV</option>
                    <option value="74b799b979e77e54fbdd6bc3c2b4761e1a487be2">Monos UB</option>
                    <option value="747a67c09f665701e723e1652253394c2f32a11e">Unitel</option>
                    <option value="024164dc1a027029d3d59cfc988ef6f15231d94c">MetroExpress</option>
                    <option value="8b8a09a36f9e3e80ffadd81f8daed268800a470d">Univision</option>
                    <option value="06be024370fca7aaf0a4c2aa9caa91f47da02e5c">ua</option>
                </select>
                <input type="button" value="[]" onclick="check_token()"/><span id="uaconsumer_token_msg"></span></div>
            <div><input type="text" name="uaconsumer_mobile" id="uaconsumer_mobile" placeholder="mobile" onchange="check_mobile('uaconsumer_mobile', 'uaconsumer_mobile_msg')"/><input type="button" value="[]" onclick="check_mobile('uaconsumer_mobile', 'uaconsumer_mobile_msg')"/><span id="uaconsumer_mobile_msg"></span></div>
            <div><input type="text" name="uaconsumer_regno" id="uaconsumer_regno" placeholder="regno" onchange="check_regno('uaconsumer_regno', 'uaconsumer_regno_msg')"/><input type="button" value="[]" onclick="check_regno('uaconsumer_regno', 'uaconsumer_regno_msg')"/><span id="uaconsumer_regno_msg"></span></div>
            <div><input type="text" name="uaconsumer_num" id="uaconsumer_num" placeholder="num" onchange="check_num('uaconsumer_num', 'uaconsumer_num_msg')"/><input type="button" value="[]" onclick="check_num('uaconsumer_num', 'uaconsumer_num_msg')"/><span id="uaconsumer_num_msg"></span></div>
            <div><input type="button" value="send" onclick="send_url('uaconsumer', 'uaconsumer_msg')"/><span id="uaconsumer_msg"></span></div>
        </div>
        <div id="aa1"></div>
    </form>
    <div id="accordion"></div>
    
    
  
    


    <script>
        function token_select(id, id1){
            document.getElementById(id1).value = document.getElementById(id).value;
        }
        function send_url(func_name, msg_id){
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/sendurl/'+func_name, true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.responseType= "json"
            xhr.onload = function () {
                d = xhr.response.data; console.log('send_url', d,msg_id)
                msg = document.getElementById(msg_id); msg.innerHTML=''
                if(Array.isArray(d)){msg.innerHTML = d[0]} 
                else if (typeof d === "object"){
                    if('detail' in d)   {msg.innerHTML +=" "+ d.detail}
                    if('message' in d)  {msg.innerHTML += ` msg:${d.message}`;  }
                    if('mobile' in d )  {msg.innerHTML += ` mobile:<a href='main?mobile=${d.mobile}'>${d.mobile} </a>`}                    
                    if('result' in d)   {msg.innerHTML += ` result:${d.result}`}                    
                } 
            }
            if(func_name == 'uaconsumer'){console.log('send');xhr.send(`token=${document.getElementById('uaconsumer_token').value}&mobile=${document.getElementById('uaconsumer_mobile').value}&registration_number=${document.getElementById('uaconsumer_regno').value}&card_number=${document.getElementById('uaconsumer_num').value}&nomin_card=&fee_type=0 &card_fee=0 &username=123`);}
            else if(func_name == 'createpc'){xhr.send(`token=${document.getElementById('createpc_token').value}&reg_no=${document.getElementById('createpc_regno').value}&card_no=${document.getElementById('createpc_num').value}&card_serial=&nfc_no=`);}
            else if(func_name == 'updatepc'){xhr.send(`token=${document.getElementById('updatepc_token').value}&reg_no=${document.getElementById('updatepc_regno').value}&card_no=${document.getElementById('updatepc_num').value}`);}
            else if(func_name == 'changepc'){xhr.send(`token=${document.getElementById('changepc_token').value}&reg_no=${document.getElementById('changepc_regno').value}&card_no_1=${document.getElementById('changepc_num1').value}&card_no_2=${document.getElementById('changepc_num2').value}`);}
        }
        

    

        function check_mobile(inpid, msgid){
            mob = document.getElementById(inpid); console.log('mob', mob.value)
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/check_mobile?mobile='+mob.value, true);
            xhr.responseType= "json"
            xhr.onload = function () {
                console.log('checkmoob', xhr.response)
                msg = document.getElementById(msgid);    msg.innerHTML = '';              
                if (xhr.response.cons.length === 0){msg.innerHTML = ` msg: энэ утас дээр бүртгэлтэй хэр олдсонгүй. `}
                else if (xhr.response.cons.length > 0){
                    msg.innerHTML += `${xhr.response.cons.length} cons oldloo. cons: <a href='main?id=${xhr.response.cons[0]._id}' target="_blank">${xhr.response.cons[0]._id}</a>`
                }
                if (xhr.response.cards.length === 0){msg.innerHTML += ` msg: энэ утас дээр бүртгэлтэй карт олдсонгүй. `}
                else if (xhr.response.cards.length > 0){
                    msg.innerHTML += `${xhr.response.cards.length} cards oldloo. cards: <a href='card?id=${xhr.response.cards[0]._id['$oid']}' target="_blank">${xhr.response.cards[0]._id['$oid']}</a>`
                }
            }
            xhr.send(null);
        }
        function check_regno(inpid, msgid){
            val = document.getElementById(inpid); console.log('regno', val.value)
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/check_regno?regno='+val.value, true);
            xhr.responseType= "json"
            xhr.onload = function () {
                console.log('checregno', xhr.response)
                msg = document.getElementById(msgid);     msg.innerHTML = ''; 
                if (xhr.response.cons.length === 0){msg.innerHTML = ` msg: энэ рег дээр бүртгэлтэй хэр олдсонгүй. `}
                else if (xhr.response.cons.length > 0){
                    msg.innerHTML += `${xhr.response.cons.length} cons oldloo. cons: <a href='main?id=${xhr.response.cons[0]._id}' target="_blank">${xhr.response.cons[0]._id}</a>`
                }
            }
            xhr.send(null);
        }
        function check_num(inpid, msgid){
            val = document.getElementById(inpid); console.log('num', val.value)
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/check_num?num='+val.value, true);
            xhr.responseType= "json"
            xhr.onload = function () {
                console.log('checknum', xhr.response)
                msg = document.getElementById(msgid);   msg.innerHTML = '';                 
                if (xhr.response.cards.length === 0){msg.innerHTML = ` msg: энэ дугаар дээр бүртгэлтэй карт олдсонгүй. `}
                else if (xhr.response.cards.length > 0){
                    msg.innerHTML += `${xhr.response.cards.length} cards oldloo. cards: <a href='card?id=${xhr.response.cards[0]._id['$oid']}' target="_blank">${xhr.response.cards[0]._id['$oid']}</a>`
                    if (xhr.response.cards[0].cons.length === 0){msg.innerHTML += ` msg: энэ дугаар дээр бүртгэлтэй хэр олдсонгүй. `}
                    else if (xhr.response.cards[0].cons.length > 0){
                        msg.innerHTML += `${xhr.response.cards[0].cons.length} cons oldloo. cons: <a href='main?id=${xhr.response.cards[0].cons[0]._id}' target="_blank">${xhr.response.cards[0].cons[0]._id}</a>`
                    }
                }
            }
            xhr.send(null);
        }




        function load(){
            console.log('load')
            const params = new URLSearchParams(window.location.search);//console.log('params', params, params.has('id'), params.get('id'))
            if (params.has('mobile') || params.has('regno') || params.has('id')) {
                let searchval = document.getElementById("searchval"); //console.log('searchval',searchval.value)
                let bb = document.getElementById("bb");  //console.log(bb.value)
                if (params.has('mobile')) {searchval.value = "mobile"; bb.value=params.get('mobile');   }
                else if (params.has('regno')) {searchval.value = "regno"; bb.value=params.get('regno');   }
                else if (params.has('id')) {searchval.value = "id"; bb.value=params.get('id');   } 
            }
            
        }

        function findcon(){            
            let searchval = document.getElementById("searchval"); //console.log('searchval',searchval.value)
            let bb = document.getElementById("bb");  //console.log(bb.value)
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/cons?'+ searchval.value +"="+bb.value, true);
            xhr.responseType= "json"
            xhr.onload = function () {
                let res = xhr.response; console.log('res', res); 
                d = res.data;
                let aa1 = document.getElementById("aa1")    //                
                aa1.innerHTML = `<p><b>Хэрэглэгчийн мэдээлэл</b></p>
                <table class="table table-striped table-bordered">
                    <tr><th>msg:</th><th>_id:</th><th>mob:</th><th>cardslen:</th><th>token:</th><th>bal:</th><th>bs:</th><th>isfam:</th><th>regno:</th></tr>
                    <tr>                                
                        <td>${res.msg}</td>
                        <td>${d._id}</td>
                        <td>${d.mobile}</td>
                        <td>${d.cards.length}</td>
                        <td>${d.token}</td>
                        <td>${d.balance}</td>
                        <td>${d.balance_status}</td>
                        <td>${d.is_family}</td>
                        <td>${d.profile.registration_number}</td> 
                    </tr>
                </table>`
                if (res.data.collective ){
                    c = res.data.collective;
                    cstring = `bal: ${c.balance} fam_name: ${c.family_name} fam_id: ${c.family_id}`
                    cstring += '<table class="table table-striped table-bordered"><tr><th>isadmin: </th><th>group: </th><th>consumer: </th></tr>'
                    for(let g=0; g<c.congroups.length; g++){      
                        cstring += `
                        <tr>
                            <td>${c.congroups[g].is_admin}</td>
                            <td>${c.congroups[g].group['$oid']}</td>
                            <td>${ c.congroups[g].consumer == d._id ? c.congroups[g].consumer : '<a href="/main?id='+c.congroups[g].consumer+'" target="_blank">' + c.congroups[g].consumer  + '</a>'}</td>                         
                        </tr>`
                    }
                    cstring += '</table>'
                    if(c.gr_req.length >0 ){
                        gr_req_string = `<table class="table table-striped table-hover table-bordered"><tr><th>cr_at: </th><th>st: </th><th>conid: </th></tr>`;
                        for(let h=0; h<c.gr_req.length; h++){ 
                            // gr_req_string += `<div>cr_at: ${c.gr_req[h].created_at['$date']} st: ${c.gr_req[h].status} conid: ${c.gr_req[h].consumer}</div>`
                            gr_req_string += `
                            <tr>
                                <td>${c.gr_req[h].created_at['$date']}</td>
                                <td>${c.gr_req[h].status}</td>
                                <td>${c.gr_req[h].consumer}</td>                            
                            </tr>`
                        }
                        gr_req_string += '</table>'
                        cstring+=gr_req_string;
                    }
                    if (c.con_coll.length>0){
                        con_coll_string = `<table class="table table-striped table-hover table-bordered"><tr><th>cr_at: </th><th>sender:</th><th>sender_mobile:</th><th>sender_mobile:</th><th>is_sender:</th><th>receiver: </th><th>receiver_mobile:</th><th>is_receiver</th><th>group</th><th>group_id</th></tr>s`;
                        for(let k=0; k<c.con_coll.length; k++){ 
                            // con_coll_string += `<div>cr_at: ${c.con_coll[k].created_at['$date']} sender: ${c.con_coll[k].sender} sender_mobile: ${c.con_coll[k].sender_mobile} is_sender: ${c.con_coll[k].is_sender} receiver: ${c.con_coll[k].receiver} receiver_mobile: ${c.con_coll[k].receiver_mobile} is_receiver ${c.con_coll[k].is_receiver} group ${c.con_coll[k].group['$oid']} group_id ${c.con_coll[k].group_id}</div>`
                            con_coll_string +=  `
                            <tr>
                                <td>${c.con_coll[k].created_at['$date']}</td>
                                <td>${c.con_coll[k].sender}</td>
                                <td>${c.con_coll[k].sender_mobile}</td>    
                                <td>${c.con_coll[k].is_sender}</td>
                                <td>${c.con_coll[k].receiver}</td>
                                <td>${c.con_coll[k].receiver_mobile}</td>
                                <td>${c.con_coll[k].is_receiver}</td>
                                <td>${c.con_coll[k].group['$oid']}</td>
                                <td>${c.con_coll[k].group_id}</td>
                            </tr>`
                        }
                        con_coll_string +='</table>'
                        cstring+=con_coll_string;
                    }
                    aa1.innerHTML += `<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collective">collective(${res.data.collective && res.data.collective.congroups.length})</button><br>
                    <div id="collective" class="collapse"> ${cstring}</div>
                    `
                } else {aa1.innerHTML += `<button type="button" class="btn btn-info" disabled>collective(0)</button><br>`}
                
                
                c = res.data.concards; //    //
                concards_str = ''
                for (let i=0; i<c.length; i++){//tuhain consumeriin cards-n toogoor davtana.
                    cardid=d.cards[i]['$oid'];  //card buriin id ni cardid-d onoogdono.
                    receipt_str = ''
                    if(c[i].receipts.length >0){    //tuhain card receipttei eseh
                        let receipts = c[i].receipts; 
                        receipt_str += `<table border=1><tr><th>billno:</th><th>cDate:</th><th>card_no:</th><th>samo:</th><th>bamo:</th><th>tamo:</th><th>camo:</th><th>bonamo:</th><th>tertoken:</th><th>custoken:</th><th>totpoint:</th><th>befbal:</th><th>poibal:</th><th>cusmob:</th><th>is_returnCnt</th></tr>`
                        for(let j=0; j<receipts.length; j++){
                            receipt_str += `<tr><td>${receipts[j].bill_number}</td><td> ${receipts[j].created_at['$date']}</td><td> ${receipts[j].card_number}</td><td> ${receipts[j].spend_amount}</td><td> ${receipts[j].bonus_amount}</td><td> ${receipts[j].total_amount}</td><td> ${receipts[j].cash_amount}</td><td> ${receipts[j].bonus_amount}</td><td> ${receipts[j].terminal_token}</td><td> ${receipts[j].customer_token}</td><td> ${receipts[j].total_point}</td><td> ${receipts[j].before_balance}</td><td> ${receipts[j].point_balance}</td><td> ${receipts[j].customer_mobile} </td><td>${receipts[j].rec_return.length}</td></tr>`;
                            let rec_return_str = ``
                            if(c[i].receipts[j].rec_return.length >0){    //tuhain receipt returntei eseh
                                let rec_return =  c[i].receipts[j].rec_return;                                
                                for(let p=0; p<rec_return.length; p++){
                                    rec_return_str += `bef_bal:${rec_return[p].before_balance} bpt_bal:${rec_return[p].point_balance} `
                                }                                
                            } else {rec_return_str = ` rec return len = ${receipts[j].rec_return.length}`}      
                            receipt_str += `<tr><td colspan=15>${rec_return_str}<td></tr>`                     
                        }
                        receipt_str +='</table>'
                    }

                    concards_str += `
                    <div class="card">
                        <div class="card-header" id="heading${i}">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse${i}" aria-expanded="false" aria-controls="collapse${i}">
                                card#${i+1} _id: ${cardid} num: ${c[i].number} ct: ${c[i].card_type} bal: ${c[i].balance} st: ${c[i].status}  mobile: ${c[i].mobile}  <span class="badge badge-light">receiptCnt: ${c[i].receiptsCnt}</span>
                            </button>
                        </h5>
                        </div>
                        <div id="collapse${i}" class="collapse" aria-labelledby="heading${i}" data-parent="#accordion">
                        <div class="card-body">
                           ${receipt_str}
                        </div>
                        </div>
                    </div>
                    `
                    accdiv = document.getElementById('accordion');
                    accdiv.innerHTML = concards_str
                       
                }
            };
            xhr.send(null);
        }
    </script>

</body>
</html>